* {
  font-family: 'Raleway', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.header {
  padding-top: 0;
}

nav {
  height: 9.5rem;
  color: black;
}

.logo {
  height: 9.5rem;
  width: 17rem;
}

.title {
  color: black;
  text-transform: capitalize;
}

.border-rad10 {
  border-radius: 10px;
}

.container-movies {
  display: flex;
  flex-wrap: wrap;
}

.contain {
  margin: 1em;
}

.border {
  border-radius: 10px;
}

.box-buttons {
  margin: 2rem;
  margin-top: 4rem;
}

.phrase {
  font-size: 30px;
  line-height: 55px;
  padding-bottom: 20px;
}

.bg-principal {
  background-image: url('../assets/images/portada3.jpg');
  background-position: bottom center;
  background-size: cover;
  height: 83.2vh;
  text-align: center;
}

.logo {
  height: 7rem;
  width: 14rem;
}

.opacity {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: inherit;
}

.fvbtns:hover {
  background-color: transparent !important;
}

.title {
  color: black;
  text-transform: capitalize;
}

.container-movies {
  display: flex;
  flex-wrap: wrap;
}

.contain {
  margin: 1em;
}

.border {
  border-radius: 10px;
}

.box-buttons {
  margin: 1em;
}

.phrase {
  font-size: 25px;
}

.hv-header {
  height: 20vh;
}

.bg-principal {
  background-image: url('../assets/images/portada3.jpg');
  background-position: bottom center;
  background-size: cover;
  height: 80vh;
}

.line::after,
.line::before {
  content: '';
  width: 10%;
  height: 1px;
  background-color: gray;
  display: inline-block;
}

.bg-modal {
  background-image: url('../assets/images/fondo2.jpeg');
}

.title-modal {
  font-family: 'Supermercado One', cursive !important;
  font-size: 35px;
  padding-left: 1rem;
}

.pd1 {
  margin: 0 10px;
}

footer {
  background-color: rgb(32, 28, 28);
  color: white;
  margin-top: 4.4em;
}

footer p {
  margin-bottom: 0;
}

.imgDesktop {
  background-image: url('../assets/docs/idea3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  height: 100vh;
}

.hola {
  background: rgba(15, 15, 15, 0.4);
  height: 100vh;
}


/* Vista home */

.cream-nav {
  height: 9.5rem;
}

.generos img {
  width: 20%;
  height: 30%;
}

.wid-img {
  width: 15%;
  position: relative;
  top: 1.5em;
  left: 1.5em;
}

nav i {
  color: purple;
}

.purple-1 {
  background-color: purple;
}

.genre {
  margin-bottom: 1em;
}