
*{
  font-family: 'Raleway', sans-serif;
}


.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.border {
  border-radius: 10px;
}

.box-buttons{
  margin: 1em;
}

.phrase{
  font-size: 25px;
}

.bg-principal{
  background-image: url('../assets/images/portada3.jpg');
background-position: bottom center;
background-size: cover;
height: 75vh;
}

.opacity{
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: inherit;
}

.line::after , .line::before {
  content: '';
  width: 10%;
  height: 1px;
  background-color: gray;
  display: inline-block;
}

.pd1{
  margin: 0 10px;
}


.splash {
  background-color: green;
}

.imgDesktop{
  background-image: url('../assets/docs/idea3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  height: 100vh;
}

.hola {
  background: rgba(15, 15, 15, 0.4); 
  height: 100vh;
}

.IniciaSesion {
  width: 335px;
  display: flex;
}

#dropdown1 {
  margin-top: 4em;
}

.generos img {
    width: 20%;
    height: 30%;
}

.logo-desktop {
  width: 120px;
}

.logo-mobile {
  width: 100px;
}