*{
  font-family: 'Raleway', sans-serif;
}
nav{
  height: 9.5rem;
  
}

nav i {
  color: black;
}


.pad1e{
  padding: 1em;
}

.info-small p {
  display: inline-block;
  margin-left: 10px;
  padding-right: 1em;
  border-right: 1px solid gray;
}

.in-block {
  display: inline-block;
}

.trailer{
  text-align: center;
  height: auto;
}

.mg20{
  margin-top: 20px;
}

#text-search{ 
  margin-bottom: 0;}

.recomended{

height: auto;
}



.container-movies{
  display: flex;
  flex-wrap: wrap;
}

.box-user-comment{
  width: 30em;
}

.user-login{
  width: 3em;
}

.border-sha{
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 0.8em;
}

#form {
  width: 100px;
  margin: 0 auto;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

[type="radio"]:not(:checked) {
  display: none;

}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover, label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
