<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>cuarta html</title>
  <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/show.css">
</head>

<body class="lime lighten-5">
  <nav class="#f9fbe7 lime lighten-5">
    <div class="nav-wrapper">
      <ul class="left">
        <img class="circle img-user wid-img hide-on-med-and-down" src="">
      </ul>
      <img class="logo brand-logo logo center" src="../assets/images/logo_BP2.png">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <input class="in-block" type="text" id="text-search2">
        </li>
        <li>
          <a class="btn-search1">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li>
          <a href="https://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news" target="_blank">
            <i class="material-icons">library_books</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button name-user" href="#!" data-activates="dropdown1">
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <ul id="dropdown1" class="dropdown-content">
          <li>
            <a href="home.html">Home</a>
          </li>
          <li>
            <a href="favorites.html">My Favorites</a>
          </li>
          <li>
            <a href="#!" class="close">Log Out</a>
          </li>

        </ul>

      </ul>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="../assets/images/fondo2.jpeg">
            </div>
            <a href="#!user">
              <img class="circle img-user" src="">
            </a>
            <a href="#!name">
              <span class="white-text name name-user"></span>
            </a>
            <a href="#!email">
              <span class="white-text email email-user"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="home.html">
            <i class="material-icons">home</i>Home</a>
        </li>
        <li>
          <a href="favorites.html">
            <i class="material-icons">check_circle</i>My List</a>
        </li>

        <li>
          <a href="#!" class="close">
            <i class="material-icons">settings_power</i>Log Out</a>
        </li>

      </ul>
    </div>
  </nav>
  <section class="pad1e">
    <div class="row mg20">
      <div class="trailer col s12 m5">
        <img class=" img-movie" src="" alt="">
      </div>





      <div class="col s12 m7">
        <div class="info-small  ">
          <h1 class="title-movie title-modal"></h1>
          <p class="year"></p>
          <p class="star"></p>
          <p class="time"></p>
          <p class="genre-movie"></p>
        </div>
        <div class="info-movie">
          <h5>Synopsis:</h5>
          <div class="sinopsis-movie"></div>




        </div>

        <h5>Actors:</h5>
        <p class="actors-movie"></p>


        <button class="btn btn-favorite #ff6f00 amber darken-4 hoverable" >
          <i class="material-icons">favorite</i>add
        </button>
      </div> 
    </div>
    <div class="comment ">
      <h5 class="title-modal">Share your opinion</h5>
      <div class="border-sha">
        <div class="info-user-login">
            <img class="img-user wid-img hide-on-med-and-down" src="">
          <p class="user-name in-block"></p>
        </div>

        <input type="text" class="input-msg">
        <button class="btn btn-send hide">
          <i class="material-icons">send</i>Send</button>
      </div>


    </div>
    <div class="container-comment">


    </div>
  </section>
  <footer class="page-footer purple" id="bg-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Follow us</h5>
          <ul>
            <li>
              <i class="icon-facebook">
                <span class="footer-letter">acebook</span>
              </i>
            </li>
            <li>
              <i class="icon-google">
                <span class="footer-letter">oogle</span>
              </i>
            </li>
            <li>
                <div class="fb-like"></div>
            </li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Download our app!</h5>
          <div>
            <img src="../assets/images/playstore.png" alt="google play" class="img-responsive" width="190">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2018 Copyright
        <a class="grey-text text-lighten-4 right" href="#!">Made by: PowerPuff Girls</a>
      </div>
    </div>
  </footer>

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/search.js"></script>
  <script src="../js/show.js"></script>


</body>

</html>