<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Planet Bollywood</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/show.css">
</head>

<body>
  <nav class="#f9fbe7 lime lighten-5">
    <div class="nav-wrapper">

      <img class="logo" src="../assets/images/logo_BP2.png">
      <a href="#" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <input class="in-block" type="text" id="text-search">
        </li>
        <li>
          <a class="btn-search">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li>
          <a href="sass.html">
            <i class="material-icons">library_books</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button name-user" href="#!" data-activates="dropdown1">
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <ul id="dropdown1" class="dropdown-content">
          <li>
            <a href="#!">one</a>
          </li>
          <li>
            <a href="#!">two</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#!">three</a>
          </li>
        </ul>

      </ul>
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="../assets/images/fondo4.jpg">
            </div>
            <a href="#!user">
              <img class="circle img-user" src="">
            </a>
            <a href="#!name">
              <span class="white-text name name-user"></span>
            </a>
            <a href="#!email">
              <span class="white-text email email-user"></span>
            </a>
          </div>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">home</i>Home</a>
        </li>
        <li>
          <a href="favorites.html">
            <i class="material-icons">check_circle</i>My List</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">notifications</i>Notiications</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">people</i>Community</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">language</i>Languages</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">settings</i>Settings</a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">settings_power</i>Log Out</a>
        </li>

      </ul>
    </div>
  </nav>
  <section class="pad1e">
    <div class="row mg20">
      <div class="trailer col s8">
        <img class=" img-movie" src="" alt="">


      </div>
      <div class="recomended col s4 border-sha hoverable">
        <h5>Recommended</h5>
        <div class="row">
          <div class="col s4">
            <img class="responsive-img" src="../assets/images/recom1.jpg" alt="recom1">
          </div>
          <div class="col s8">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero doloribus deserunt quos quaerat ipsa exercitationem
              provident iste? </p>
          </div>

        </div>
        <div class="row">
          <div class="col s4">
            <img class="responsive-img" src="../assets/images/recom2.png" alt="recom1">
          </div>
          <div class="col s8">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero doloribus deserunt quos quaerat ipsa exercitationem
              provident iste? </p>
          </div>

        </div>
        <div class="row">
          <div class="col s4">
            <img class="responsive-img" src="../assets/images/recom3.png" alt="recom1">
          </div>
          <div class="col s8">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero doloribus deserunt quos quaerat ipsa exercitationem
              provident iste? </p>
          </div>

        </div>



      </div>
    </div>
    <h2 class="title-movie"></h2>
    <div class="row">
      <div class="info-movie col s6">

        <div class="info-small">
          <p class="year"></p>
          <p class="star"></p>
          <p class="time"></p>
          <p class="genre-movie"></p>
        </div>
        <div class="sinopsis-movie"></div>
        <div class="pad1e">
            <button class="btn btn-favorite ">add</button>
        </div>
        
      </div>
      <div class="extra-info col s6">
        <p>Actors :</p>
        <p class="actors-movie"></p>
        <p>Musicals</p>
      </div>
    </div>

    <div class="comment ">
      <h5>Comment</h5>
      <div class="border-sha">
        <div class="info-user-login">
          <img class="circle img-user user-login in-block" src="">
          <p class="user-name in-block"></p>
        </div>

        <input type="text" class="input-msg">
        <button class="btn btn-send hide">Send</button>
      </div>


    </div>
    <div class="container-comment">

      
    </div>
  </section>
  <footer>
    <p>Follows us</p>
    <div class="icon-social">


    </div>
    <p>Made by</p>
    <p>The Power Puff Girls</p>
  </footer>

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/data.js"></script>


  <script src="../js/register.js"></script>
  <script src="../js/search.js"></script>
  <script src="../js/show.js"></script>
  <script src="../js/app.js"></script>  
</body>

</html>