<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>splasht</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- desktop -->
  
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <!-- vista solo para mobile -->
      <a href="primera.html" class="btn-floating btn-md waves-effect waves-light  left hide-on-large-only">
        <i class="material-icons">navigate_before</i>
      </a>
      <nav class=" hide-on-large-only">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="side-nav" id="mobile-demo">
            <li>
              <a href="">Nombre</a>
            </li>
            <li>
              <a href="l">Notificaciones</a>
            </li>
            <li>
              <a href="">Inicio</a>
            </li>
            <li>
              <a href="">Drama</a>
            </li>
            <li>
              <a href="">Acción</a>
            </li>
            <li>
              <a href="">Musicales</a>
            </li>
            <li>
              <a href="">Comunidad</a>
            </li>
            <li>
              <a href="">Configuración</a>
            </li>
            <li>
              <a href="">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- desktop -->
      <ul class="right">
        <li>
          <i class="material-icons">search</i>
        </li>
        <li>
          <i class="material-icons">notifications_active</i>
        </li>
        <li>
          <a class="dropdown-button IniciaSesion" href="#!" data-activates="dropdown1">
           
      
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1">
        <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2">
        <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3">
        <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4">
        <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <section>
    <p>generos</p>
    <div class="generos ">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
    </div>
  </section>
  <section>
    <p>recomendados</p>
    <div class="generos ">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
    </div>
  </section>
  <section>
    <p>etc</p>
    <div class="generos ">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
    </div>
  </section>


  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/primera.js"></script>
</body>

</html>