<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
  <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- desktop -->

  <nav class="#f9fbe7 lime lighten-5">
      <div class="nav-wrapper">
        
       <img class="logo" src="../assets/images/logo_BP2.png">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <input class="in-block" type="text" id="text-search2" value="">
          </li>
          <li class="btn-search1">
            <a  >
              <i class="material-icons"id="search1">search</i>
            </a>
          </li>
          <li>
            <a href="https://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news">
              <i class="material-icons">library_books</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button name-user" href="#!" data-activates="dropdown1">
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <ul id="dropdown1" class="dropdown-content">
            <li>
              <a href="#!">one</a>
            </li>
            <li>
              <a href="#!">two</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#!">three</a>
            </li>
          </ul>
  
        </ul>
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="../assets/images/fondo4.jpg">
              </div>
              <a href="#!user">
                <img class="circle img-user" src="">
              </a>
              <a href="#!name">
                <span class="white-text name name-user"></span>
              </a>
              <a href="#!email">
                <span class="white-text email email-user"></span>
              </a>
            </div>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">home</i>Home</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">check_circle</i>My List</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">notifications</i>Notiications</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">people</i>Community</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">language</i>Languages</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">settings</i>Settings</a>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">settings_power</i>Log Out</a>
          </li>
  
        </ul>
      </div>
    </nav>
    <section class="center-align">
        <div class="slider">
            <ul class="slides">
              <li>
                <img src="../assets/images/por2.jpg"> <!-- random image -->
                <div class="caption center-align">
                
                </div>
              </li>
              <li>
                <img src="../assets/images/por3.jpg"> <!-- random image -->
                <div class="caption left-align">
                  
                </div>
              </li>
              <li>
                <img src="../assets/images/por4.jpg"> <!-- random image -->
                <div class="caption right-align">
             
                </div>
              </li>
              <li>
                <img src="../assets/images/por5.jpg"> <!-- random image -->
                <div class="caption center-align">
                  
                </div>
              </li>
            </ul>
          </div>
    </section>



      
      <section>
          <h5 class="title">Genres</h5>
       
          <div class="row">
            <div class="col s4 genre drama" data-name="Drama">
              <img class="responsive-img border-rad10" src="../assets/images/drama.jpg" alt="" >
            </div>
            <div class="col s4 genre action " data-name="Action">
              
              <img class="responsive-img border-rad10" src="../assets/images/accion.jpg" alt="" >
            
            </div>
            <div class="col s4 genre musical " data-name="Musical">
              <img class="responsive-img border-rad10" src="../assets/images/musical.jpg" alt="" >
            </div>
           
          </div>
          <div class="row">
              <div class="col s4 genre comedy " data-name="Comedy">
                
                  <img class="responsive-img border-rad10" src="../assets/images/comedia.jpg" alt="" >
                </div>
                <div class="col s4 genre romance " data-name="Romance">
                  <img class="responsive-img border-rad10" src="../assets/images/romance.jpg" alt="" >
                </div>
                <div class="col s4 genre estrenos " data-name="Estrenos">
                  <img class="responsive-img border-rad10" src="../assets/images/estrenos.jpg" alt="" >
                </div>
          </div>      
      </section>
      <footer>
        <p>Follows us</p>
        <div class="icon-social">          
        </div>
        <p>Made by</p>
        <p>The Power Puff Girls</p>
        </footer>
        
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>  
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/register.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/search.js"></script>
    
</body>

</html>