<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bollywood Planet</title>
  <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- desktop -->
  <nav class="lime lighten-5">
      <div class="nav-wrapper cream-nav">
        <img class="brand-logo logo center" src="../assets/images/logo_BP2.png">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons black-text">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <input class="in-block autocomplete" type="text" id="text-search2">
          </li>
          <li>
            <a class="btn-search1">
              <i class="material-icons purple-text">search</i>
            </a>
          </li>
          <li>
            <a href="sass.html">
              <i class="material-icons purple-text">library_books</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button name-user" href="#!" data-activates="dropdown1">
              <i class="material-icons right purple-text">arrow_drop_down</i>
            </a>
          </li>
          <ul id="dropdown1" class="dropdown-content">
            <li>
              <a href="home.html">Home</a>
            </li>
            <li>
              <a href="favorites.html">My Movies</a>
            </li>
            <li>
              <a href="#!" class="close">Log Out</a>
            </li>
            
          </ul>
  
        </ul>
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background">
                <img src="../assets/images/fondo2.jpeg">
              </div>
              <a href="#!user">
                <img class="circle img-user" src="">
              </a>
              <a href="#!name">
                <span class="white-text name name-user"></span>
              </a>
              <a href="#!email">
                <span class="white-text email email-user"></span>
              </a>
            </div>
          </li>
          <li>
            <a href="home.html">
              <i class="material-icons">home</i>Home</a>
          </li>
          <li>
            <a href="favorites.html">
              <i class="material-icons">check_circle</i>My List</a>
          </li>
         
          <li>
            <a href="#!" class="close">
              <i class="material-icons">settings_power</i>Log Out</a>
          </li>
  
        </ul>
      </div>
    </nav>
  
    <section class="center-align">
        <div class="slider">
            <ul class="slides">
              <li>
                <img class="responsive-img" src="../assets/images/portada2.png"> <!-- random image -->
                <div class="caption center-align">
                
                </div>
              </li>
              <li>
                <img class="responsive-img" src="../assets/images/movie1.jpg"> <!-- random image -->
                <div class="caption left-align">
                  
                </div>
              </li>
              <li>
                <img class="responsive-img" src="../assets/images/por2.jpg"> <!-- random image -->
                <div class="caption right-align">
             
                </div>
              </li>
              <li>
                <img class="responsive-img" src="../assets/images/por3.jpg"> <!-- random image -->
                <div class="caption center-align">
                  
                </div>
              </li>
              <li>
                <img class="responsive-img" src="../assets/images/por2.jpg"> <!-- random image -->
                <div class="caption right-align">
               
                </div>
              </li>
            </ul>
          </div>
    </section>
    <section class="container">
        <h5 class="title-modal">Genres</h5>
      
        <div class="row">
          <div class="col s12 m4 genre drama center-align " data-name="Drama">
            <img class="responsive-img border-rad10 hoverable" src="../assets/images/genre1.jpg" alt="" >
          </div>
          <div class="col s12  m4 genre action center-align" data-name="Action">
            
            <img class="responsive-img border-rad10 hoverable" src="../assets/images/genre2.jpg" alt="" >
          
          </div>
          <div class="col s12 m4 genre musical center-align" data-name="Musical">
            <img class="responsive-img border-rad10 hoverable" src="../assets/images/genre3.jpg" alt="" >
          </div>
          
        </div>
        <div class="row">
            <div class="col s12 m4 genre comedy center-align " data-name="Comedy">
              
                <img class="responsive-img border-rad10 hoverable" src="../assets/images/genre4.jpg" alt="" >
              </div>
              <div class="col s12 m4 genre romance center-align " data-name="Romance">
                <img class="responsive-img border-rad10 hoverable" src="../assets/images/genre5.jpg" alt="" >
              </div>
              <div class="col s12 m4 genre estrenos center-align " data-name="Estrenos">
                <img class="responsive-img border-rad10 hoverable" src="../assets/images/genre6.jpg" alt="" >
              </div>
        </div>

      
      </section>
      
      <footer class="page-footer purple" id="bg-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Follow us</h5>
              <ul>
                <li>
                  <i class="icon-facebook"><span class="footer-letter">acebook</span></i>
                </li>
                <li>
                  <i class="icon-google"><span class="footer-letter">oogle</span></i>
                </li>
              </ul>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Download our app!</h5>
              <div>
                <img src="../assets/images/playstore.png" alt="google play" class="img-responsive" width="190">
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2018 Copyright 
          <a class="grey-text text-lighten-4 right" href="#!">Made by: PowerPuff Girls</a>
          </div>
        </div>
      </footer>
    
      
        
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>  
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/search.js"></script>
    
</body>

</html>