<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>splasht</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <!-- desktop -->
  <!-- Dropdown Structure -->
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <!-- vista solo para mobile -->
      <a href="primera.html" class="btn-floating btn-md waves-effect waves-light  left hide-on-large-only">
        <i class="material-icons">navigate_before</i>
      </a>
      <!-- desktop -->
      <a class="waves-effect waves-light btn-m modal-trigger" href="#modal1">Registrate</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#!" class="brand-logo center">Logo</a>
        </li>

        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>

      </ul>
    </div>
  </nav>
  <div class="slider hide-on-med-and-down">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1">
        <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2">
        <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3">
        <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4">
        <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  <section>

    <div class="generos hide-on-med-and-down">
      <p>generos</p>
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
    </div>
  </section>
  <section>
    <div class="generos hide-on-med-and-down">
      <p>recomendados</p>
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
    </div>
  </section>
  <section>

    <div class="generos hide-on-med-and-down">
      <p>etc</p>
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
      <img src="../assets/docs/idea3.jpg" alt="">
    </div>
  </section>
  <!-- vista solo para mobile --------------------- -->
  <section class="hide-on-large-only center">
    <h5> Unete a</h5>
    <h5>nuestra comunidad</h5>
    <h5>Bollywoodense !</h5>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="name"> Name</label>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
              <a href="tercera.html" class="waves-effect waves-light btn">Vamos</a>
            </div>
          </div>
      </form>
      </div>
  </section>
 <!--  fin de la vista solo para mobile --------------------- -->

  <!-- modal -->
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <p>nombre</p>
      <p>email</p>
      <p>passwordl</p>
    </div>
    <div class="modal-footer">
      <a href="cuarta.html" class=" btn">Disfruta</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/primera.js"></script>
</body>

</html>