<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Planet Bollywood</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>

  <!-- desktop -->
  <!-- Dropdown Structure -->

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Logo</a>
      <!-- vista solo para mobile -->
      <a href="primera.html" class="btn-floating btn-md waves-effect waves-light  left hide-on-large-only">
        <i class="material-icons">navigate_before</i>
      </a>
      <!-- desktop -->
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#!" class="brand-logo center">Logo</a>
        </li>

      </ul>
    </div>
  </nav>

  <section class="hide-on-small-only flex">
    <div class="row">
      <div class="col s12">
          
              <div class="phrase">
                <p>The world's largest community of Bollywood fans</p>
                <p> Movies, musicals, events and more</p>
              </div>
              <div class="">
                <button id="" class="btn border #ffc107 amber">Enter as a guest</button>
        
              </div>
              <div class="box-buttons">
              
                <button data-target="modal1" class="btn modal-trigger border ">Login</button>
                <button data-target="modal2" class="btn modal-trigger border ">Sign Up</button>
              </div>
        
                  </div>
    </div>
    
  </section>
  <!-- vista solo para mobile -->
  <section class="hide-on-large-only">
    <h5> Inicia Sesión</h5>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div>
          <a href="tercera.html" class="waves-effect waves-light btn">Ingresa</a>
          <div class="conFaceb">
            <i class="material-icons">remove</i>o con
            <i class="material-icons">remove</i>
          </div>
          <a class="waves-effect waves-light btn">Facebook</a>
          <h6>Aun no tienes una cuenta </h6>
          <a href="segunda.html">unete</a>
        </div>
      </form>
    </div>

  </section>

  <!-- modal -->
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="box-login">
        <h5 class="center-align">Welcome</h5>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">First Name</label>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="password" class="validate">
              <label for="icon_prefix">Password</label>
            </div>
            <div class="center-align">
              <button class="btn border">Ingresa</button>
            </div>
            <div class="center-align"><p class="line"><span class="pd1">or</span></p></div>
            <div class="center -align">
              <button class="btn border #1565c0 blue darken-3"><span class="icon-facebook pd1"></span>Facebook</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- modal Register -->
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
      <div class="modal-content">
        <div class="box-login">
          <div class="row">
            <h5 class="center-align">Join Us!</h5>
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">e-mail</label>
              </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="icon_prefix" type="password" class="validate">
                <label for="icon_prefix">Password</label>
              </div>
              <div class="input-field col s12">
                  <i class="material-icons prefix">lock</i>
                  <input id="icon_prefix" type="password" class="validate">
                  <label for="icon_prefix">Confirm Password</label>
                </div>
              
            </div>
            
              <div>
                  <p class=center-align>
                      <input type="checkbox" id="test5" />
                      <label for="test5">Accept terms and conditions</label>
                    </p>
              </div>
              <div class="center-align">
                  
                    <button class="btn border">Submit</button>
                  </div>
          </div>
        </div>
      </div>
    </div>


  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/register.js"></script>
</body>

</html>