<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Third view</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/show.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav class="#f9fbe7 lime lighten-5">
        <div class="nav-wrapper">
          
         <img class="logo" src="../assets/images/logo_BP2.png">
          <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <input class="in-block" type="text" id="text-search">
            </li>
            <li>
              <a class="btn-search">
                <i class="material-icons">search</i>
              </a>
            </li>
            <li>
              <a href="sass.html">
                <i class="material-icons">library_books</i>
              </a>
            </li>
            <li>
              <a class="dropdown-button name-user" href="#!" data-activates="dropdown1">
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
            <ul id="dropdown1" class="dropdown-content">
              <li>
                <a href="#!">one</a>
              </li>
              <li>
                <a href="#!">two</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#!">three</a>
              </li>
            </ul>
    
          </ul>
          <ul id="slide-out" class="side-nav">
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="../assets/images/fondo4.jpg">
                </div>
                <a href="#!user">
                  <img class="circle img-user" src="">
                </a>
                <a href="#!name">
                  <span class="white-text name name-user"></span>
                </a>
                <a href="#!email">
                  <span class="white-text email email-user"></span>
                </a>
              </div>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">home</i>Home</a>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">check_circle</i>My List</a>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">notifications</i>Notiications</a>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">people</i>Community</a>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">language</i>Languages</a>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">settings</i>Settings</a>
            </li>
            <li>
              <a href="#!">
                <i class="material-icons">settings_power</i>Log Out</a>
            </li>
    
          </ul>
        </div>
      </nav>
  <!-- Genre section -->
  <section>
    
      <h5 class="title-genre"></h5>
      <div class="container-movies">
        
      </div>
    
  </section>

<!-- Source -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
<script src="../js/data.js"></script>
<script src="../js/genre.js"></script>
</body>

</html>