<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Third view</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../css/show.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <!-- Lateral menu -->
  <ul id="slide-out" class="side-nav">
    <li class="hide-on-large-only"><div class="user-view">
      <div class="background">
        <img src="../assets/images/fondo1.jpg" alt="background">
      </div>
      <a href="#!user"><img class="circle" src="../assets/images/dhadak-0a.jpg" alt="profile-pic"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">add_circle_outline</i>My list</a></li>
    <li><a href="#!"><i class="material-icons">notifications</i>Notifications</a></li>
    <li><a href="#!"><i class="material-icons">people_outline</i>Community</a></li>
    <li><a href="#!"><i class="material-icons">language</i>Language</a></li>
    <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="#!"><i class="material-icons">help_outline</i>Help</a></li>
    <li><a href="#!"><i class="material-icons">keyboard_return</i>Log out</a></li>
  </ul>  <!-- lateral menu ends-->
  <nav class="lime lighten-5">
    <div class="nav-wrapper">
        <ul class="left">
          <a data-activates="slide-out" class="user-side">
            <img src="../assets/images/" alt="profile-picture" class="circle hide-on-small-only">
            <i class="material-icons hide-on-large-only">menu</i>
          </a>
        </ul>
        <div class="brand-logo center hide-on-small-only">
          <img src="../assets/images/logo_BP2.png" alt="logo bollywood planet" width="200">
        </div>
        <ul class="right">
          <li>
            <i class="material-icons">search</i>
          </li>
          <li>
            <a href="https://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news" target="_blank">News</a>
          </li>
        </ul>
    </div>
  </nav>
  <!-- Genre section -->
  <section>
    <div class="container">
      <div class="row">
        <h4 class="title-genre title-movies"></h4>
        <div class="container-movies col s12 col l12">
          
        </div>
      </div>
    </div>
  </section>
  <footer class="page-footer purple" id="bg-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Follow us</h5>
          <ul>
            <li>
              <i class="icon-facebook"><span class="footer-letter">acebook</span></i>
            </li>
            <li>
              <i class="icon-google"><span class="footer-letter">oogle</span></i>
            </li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Download our app!</h5>
          <div>
            <img src="../assets/images/playstore.png" alt="google play" class="img-responsive" width="190">
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright 
      <a class="grey-text text-lighten-4 right" href="#!">Made by: PowerPuff Girls</a>
      </div>
    </div>
  </footer>

  <!-- Source -->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/genre.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>